body {
	margin: 0;
	padding: 0;
	background-color: #ebf5ec;
	display: flex;
	justify-content: center;
	align-items: center;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
}

* {
	box-sizing: border-box;
}

/*
Colors: #EBF5EC, #E51131, #000000, #CFE1D1
*/

.portal-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	min-height: 60vh;
}

/* Card style */
.portal-card {
	background-color: #cfe1d1;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.portal-card img {
	width: 100%;
	height: 200px;
	padding: 10px;
	object-fit: cover;

	border-radius: 20px;
}

.portal-card a {
	width: 100%;
	height: 200px;
	padding: 10px;
	border-radius: 20px;
}

/* Text section */
.portal-content {
	padding: 1rem;
	text-align: left;
	background-color: #cfe1d1;
}

.portal-title {
	font-size: 16px;
	font-weight: 600;
	color: #1e1e1e;
	margin: 0;
	text-align: left;
}

img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

h1 {
	font-family: "Bungee Regular", sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	color: #000;
}

h2 {
	font-size: 14px;
	color: #000;
	text-align: center;
}

.logo {
	width: 130px;
	height: auto;
}

/* Navigation bar styles */
.navigation-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	z-index: 1000;
}

.navigation-bar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding: 0;
}

.navigation-bar li {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.navigation-bar li:first-child {
	justify-content: center;
	margin-bottom: 80px;
}

.navigation-bar .nav-item a {
	font-family: "Helvetica Nueu Regular", sans-serif;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #000000;
	font-size: 20px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 50px;
}

.navigation-bar .nav-item a:hover {
	background-color: #e51131;
	border-radius: 7px 0px 0px 7px;
	transition: background-color 0.2s ease;
	color: #ebf5ec;
}

/*About Us*/

#root {
	margin-left: 14rem;
}

.section-title {
	color: #000000;
	font-size: 2.5rem;
	font-weight: 900;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

.popular-section {
	padding: 2rem 0rem;
	min-height: 50vh;
}

.popular-list {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
}

.popular-card {
	position: relative;
	background: #ebf5ec;
	border-radius: 1rem;
	width: 23rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.popular-image-wrapper {
	position: relative;
}

.genre-select {
	padding: 0.75rem 1rem;
	border-radius: 10px;
	border: 2px solid #ccc;
	font-size: 16px;
}

.portal-title-main {
	font-family: "Bungee", sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin: 2rem 0 1rem;
	text-align: left;
	color: #000;
}

.portal-title-main .highlight {
	color: #e51131;
}

.popular-image {
	width: 100%;
	height: 14rem;
	object-fit: cover;
}

.card-content {
	padding: 0rem 1rem 1rem;
}

.card-title {
	color: #e51131;
	font-weight: 600;
	margin-bottom: 0.25rem;
}

.card-author {
	font-size: 0.875rem;
	color: #000000;
	margin-top: 0.25rem;
}

.about-section {
	background-color: #cfe1d1;
	padding: 3rem 2rem;
	border-radius: 2rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.highlight {
	color: #e51131;
}

.about-description {
	color: #000000;
	line-height: 1.6;
	margin-bottom: 1.5rem;
}

.about-button {
	background-color: #e51131;
	color: #ebf5ec;
	padding: 0.75rem 1.5rem;
	border-radius: 0.75rem;
	font-weight: 600;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.about-button:hover {
	background-color: #b9031e;
	color: white;
}

.students-section {
	margin-top: 4rem;
}

.section-subtitle {
	font-size: 1rem;
	color: #6b7280;
	margin-bottom: 2rem;
	margin-top: -10px;
}
.students-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.student-card {
	width: 150px;
	text-align: left;
}

.student-image {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 2rem;
	cursor: pointer;
}

.student-name {
	font-size: 1rem;
	color: #6b6b6b;
	margin-top: -15px;
	margin-left: 10px;
}

.student-surname {
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: -10px;
	margin-left: 10px;
}

/*Making-of*/
.making-page {
	width: 75vw;
	padding: 0.9rem 0rem;
}

.making-data-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #cfe1d1;
	border-radius: 20px;
	padding: 34px;
	width: 94%;
	gap: 5vw;
}

img.banner {
	width: 400px;
	height: 250px;
	object-fit: cover;
	border-radius: 20px;
}

.project-info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	margin: -10px;
}

.value {
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: -10px;
}

.search-dropdown-container {
	position: relative;
	width: 300px;
	margin-bottom: 20px;
}

.search-input {
	flex: 1;
	padding: 0.75rem 1rem;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	max-width: 400px;
	width: 100%;
}

.search-input2 {
	padding: 0.75rem 1rem;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	width: 375%;
}

.search-filter-container {
	display: flex;
	gap: 1rem;
	margin: 1.5rem 0;
	align-items: center;
	flex-wrap: wrap;
}

input {
	width: 200%;
	padding: 8px;
	font-size: 16px;
	border-radius: 12px;
}

.dropdown {
	position: absolute;
	width: 100%;
	background: #ebf5ec;
	border: 1px solid #ccc;
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
}

.dropdown-item:hover {
	background: #f0f0f0;
}

.video-description-container {
	padding-top: 20px;
	display: flex;
	gap: 50px;
	margin-top: 30px;
	margin-left: 0px;
	flex-wrap: wrap;
}

.video-section video {
	width: 100%;
	height: 250px;
	border-radius: 15px;
}

.description-section {
	flex: 1;
	max-width: 450px;
}

.description-section h3 {
	margin-top: -10px;
	margin-bottom: 10px;
}

.description-section p {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 30px;
	width: 110%;
}

.discover-link {
	font-size: 14px;
	color: #000;
	text-decoration: underline;
	margin-top: 10px;
	display: inline-block;
}

.extra-footage {
	margin-top: 40px;
	width: 100%;
	margin-bottom: 30px;
}

.extra-footage h3 {
	font-size: 16px;
	margin-bottom: 10px;
}

.extra-images {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.extra-images img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 15px;
	transition: transform 0.2s ease;
}
